In [1]:
import re

import pandas as pd

## Create xample data

In [2]:
# Create xample data
df = pd.DataFrame({'data':['cd_schufa_de201904_001',
                           'cd_schufa_de201904_002',
                           'cd_schufa_de201905_001',
                           'cd_schufa_de201905_002',
                           'rdm_20190701_de',
                           'rdm_20190701_se',
                           'rdm_20190702_de',
                           'rdm_20190702_se',
                           'rdm_20190703_de',
                           'rdm_20190703_se',
                           'cd_rdm_2017_all',
                           'cd_rdm_2018_all',
                           'old_one_1999',
                           'old_one_199912',
                           'old_one_19991230']})
# Display xample data
df

                      data
0   cd_schufa_de201904_001
1   cd_schufa_de201904_002
2   cd_schufa_de201905_001
3   cd_schufa_de201905_002
4          rdm_20190701_de
5          rdm_20190701_se
6          rdm_20190702_de
7          rdm_20190702_se
8          rdm_20190703_de
9          rdm_20190703_se
10         cd_rdm_2017_all
11         cd_rdm_2018_all
12            old_one_1999
13          old_one_199912
14        old_one_19991230

## Solution 1

### (1) Apply regular expression

In [3]:
# Create column 'data_clean1' from 'data'
df['data_clean1'] = df['data']

# Perform regular expression on 'data_clean1'
df['data_clean1'] = df['data_clean1'].map(lambda x: re.sub("\d{8}","<ymd8>",x))
df['data_clean1'] = df['data_clean1'].map(lambda x: re.sub("\d{6}","<ym6>",x))
df['data_clean1'] = df['data_clean1'].map(lambda x: re.sub("\d{4}","<y4>",x))

# Display df
df

                      data            data_clean1
0   cd_schufa_de201904_001  cd_schufa_de<ym6>_001
1   cd_schufa_de201904_002  cd_schufa_de<ym6>_002
2   cd_schufa_de201905_001  cd_schufa_de<ym6>_001
3   cd_schufa_de201905_002  cd_schufa_de<ym6>_002
4          rdm_20190701_de          rdm_<ymd8>_de
5          rdm_20190701_se          rdm_<ymd8>_se
6          rdm_20190702_de          rdm_<ymd8>_de
7          rdm_20190702_se          rdm_<ymd8>_se
8          rdm_20190703_de          rdm_<ymd8>_de
9          rdm_20190703_se          rdm_<ymd8>_se
10         cd_rdm_2017_all        cd_rdm_<y4>_all
11         cd_rdm_2018_all        cd_rdm_<y4>_all
12            old_one_1999           old_one_<y4>
13          old_one_199912          old_one_<ym6>
14        old_one_19991230         old_one_<ymd8>

### (2) Filter data

In [4]:
# Create DataFrame 'df_solution1' as a sorted copy of 'df'
df_solution1 = df[['data', 'data_clean1']].copy().sort_values(['data_clean1', 'data'])

# Keep only the last occurence of the sorted df
# - keep='last': all duplicates EXCEPT LAST OCCURENCE will be marked as TRUE
df_solution1 = df_solution1[~df_solution1.duplicated('data_clean1', keep='last')]

# Display 'df_solution1'
df_solution1

                      data            data_clean1
11         cd_rdm_2018_all        cd_rdm_<y4>_all
2   cd_schufa_de201905_001  cd_schufa_de<ym6>_001
3   cd_schufa_de201905_002  cd_schufa_de<ym6>_002
12            old_one_1999           old_one_<y4>
13          old_one_199912          old_one_<ym6>
14        old_one_19991230         old_one_<ymd8>
8          rdm_20190703_de          rdm_<ymd8>_de
9          rdm_20190703_se          rdm_<ymd8>_se

## Solution 2

### (1) Apply regular expression

In [5]:
# Create column 'data_clean2' from 'data'
df['data_clean2'] = df['data']

# Perform regular expression on 'data_clean2'
df['data_clean2'] = df['data_clean2'].map(lambda x: re.sub("20\d\d[0-1]\d[0-3]\d","<ymd8>",x))
df['data_clean2'] = df['data_clean2'].map(lambda x: re.sub("20\d\d[0-1]\d","<ym6>",x))
df['data_clean2'] = df['data_clean2'].map(lambda x: re.sub("20\d\d","<y4>",x))

# Display df
df

                      data            data_clean1            data_clean2
0   cd_schufa_de201904_001  cd_schufa_de<ym6>_001  cd_schufa_de<ym6>_001
1   cd_schufa_de201904_002  cd_schufa_de<ym6>_002  cd_schufa_de<ym6>_002
2   cd_schufa_de201905_001  cd_schufa_de<ym6>_001  cd_schufa_de<ym6>_001
3   cd_schufa_de201905_002  cd_schufa_de<ym6>_002  cd_schufa_de<ym6>_002
4          rdm_20190701_de          rdm_<ymd8>_de          rdm_<ymd8>_de
5          rdm_20190701_se          rdm_<ymd8>_se          rdm_<ymd8>_se
6          rdm_20190702_de          rdm_<ymd8>_de          rdm_<ymd8>_de
7          rdm_20190702_se          rdm_<ymd8>_se          rdm_<ymd8>_se
8          rdm_20190703_de          rdm_<ymd8>_de          rdm_<ymd8>_de
9          rdm_20190703_se          rdm_<ymd8>_se          rdm_<ymd8>_se
10         cd_rdm_2017_all        cd_rdm_<y4>_all        cd_rdm_<y4>_all
11         cd_rdm_2018_all        cd_rdm_<y4>_all        cd_rdm_<y4>_all
12            old_one_1999           old_one_<y4>           old_one_1999
13          old_one_199912          old_one_<ym6>         old_one_199912
14        old_one_19991230         old_one_<ymd8>       old_one_19991230

### (2) Filter data

In [6]:
# Create DataFrame 'df_solution2' as a sorted copy of 'df'
df_solution2 = df[['data', 'data_clean2']].copy().sort_values(['data_clean2', 'data'])

# Keep only the last occurence of the sorted df
# - keep='last': all duplicates EXCEPT LAST OCCURENCE will be marked as TRUE
df_solution2 = df_solution2[~df_solution2.duplicated('data_clean2', keep='last')]

# Display 'df_solution2'
df_solution2

                      data            data_clean2
11         cd_rdm_2018_all        cd_rdm_<y4>_all
2   cd_schufa_de201905_001  cd_schufa_de<ym6>_001
3   cd_schufa_de201905_002  cd_schufa_de<ym6>_002
12            old_one_1999           old_one_1999
13          old_one_199912         old_one_199912
14        old_one_19991230       old_one_19991230
8          rdm_20190703_de          rdm_<ymd8>_de
9          rdm_20190703_se          rdm_<ymd8>_se